# Housing Market

Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

Step 2. Create 3 differents Series, each of length 100, as follows:

The first a random number from 1 to 4

The second a random number from 1 to 3

The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1,high=5,size=100,dtype='l'))
s2 = pd.Series(np.random.randint(1,high=3,size=100,dtype='l'))
s3 = pd.Series(np.random.randint(10000,high=30001,size=100,dtype='l'))

print(s1,s2,s3)

0     3
1     3
2     1
3     1
4     2
     ..
95    4
96    1
97    2
98    4
99    3
Length: 100, dtype: int64 0     1
1     1
2     2
3     2
4     2
     ..
95    2
96    2
97    1
98    2
99    2
Length: 100, dtype: int64 0     28048
1     15356
2     25545
3     17299
4     21018
      ...
95    29053
96    28196
97    25630
98    20965
99    17290
Length: 100, dtype: int64

Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([s1,s2,s3], axis=1)
df.head()

   0  1      2
0  3  1  28048
1  3  1  15356
2  1  2  25545
3  1  2  17299
4  2  2  21018

Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df.columns = ['bedrs','bathrs','price_sqr_meter']
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       1            28048
1      3       1            15356
2      1       2            25545
3      1       2            17299
4      2       2            21018

Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn

In [5]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)

bigcolumn = bigcolumn.to_frame()

print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       3
1       3
2       1
3       1
4       2
..    ...
95  29053
96  28196
97  25630
98  20965
99  17290

[300 rows x 1 columns]

Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
len(bigcolumn)

300

Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        3
1        3
2        1
3        1
4        2
..     ...
295  29053
296  28196
297  25630
298  20965
299  17290

[300 rows x 1 columns]